body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.table-container {
  width: 100%;
  overflow-x: auto;
  margin: 1% 7%;
  
}

.country-table {
  width: 88%;
  margin-left:6%;
}

.country-table th{
  padding: 1rem;
  background-color: #f8f9fa;
  font-weight: 600;
  text-align: center;
}

.country-table td {
  padding: 1rem;
  text-align: center;
}

.country-table tr {
  box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.05);
}

.country-table tbody tr:hover {
  background-color: #f5f5f5;
}


.home-nav-bar {
  background-color: #272b28;
  padding: 3%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.home-nav-bar h1 {
  color: white;
  text-align: center;
  font-size: 4em;
  margin-left: 2%;
}

.home-nav-bar input {
  width: 20%;
  padding: 10px;
}

.pagination {
  text-align: center;
}

.pagination button {
  background-color: #272b28;
  color: white;
  padding: 10px;
  margin: 1%;
  cursor: grab;
}

.pagination button:disabled {
  background-color: #f0f0f0;
  color: #888;
  cursor: not-allowed;
}

.country-detail-nav-bar {
  background-color: #272b28;
  padding: 3%;
}

.country-detail-nav-bar div {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}

.country-detail-nav-bar button {
  position: absolute;
  top: 10px;
  left: 10px; 
  cursor: grab; 
}

.country-detail-nav-bar h1 {
  color: white;
  text-align: center;
  font-size: 3em;
}

.flag-image {
  width: 10vw;
  height: auto; 
}

.country-detail-information {
  text-align: center;
  margin: 2%;
}

.country-detail-information div {
  margin: 5%;
}

@media (max-width: 768px) { /* This is to make it look ok on a cell phone */
  .home-nav-bar {
    width: 100%;
    height: 100%;
  }
  
  .home-nav-bar input {
    padding: 2%;
    float: none;
    width: 40vw;
  }

  .country-detail-nav-bar div {
    flex-direction: column;
  }

  .country-detail-nav-bar h1 {
    margin-top: -2%;
  }

  .flag-image {
    width: 50vw;
    height: auto; 
    margin-top: -13%;
  }

  .country-detail-information {
    margin-top: 20%;
  }
}